html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 600px;
  min-height: 600px;
  font-family: sans-serif;
}
html .ttt-game-component *,
body .ttt-game-component * {
  box-sizing: border-box;
}
html .ttt-game-component .ttt-player-turn-message,
body .ttt-game-component .ttt-player-turn-message {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  color: #999999;
}
html .ttt-game-component .ttt-title,
body .ttt-game-component .ttt-title {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
}
html .ttt-game-component .ttt-game-info-container,
body .ttt-game-component .ttt-game-info-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
}
html .ttt-game-component .ttt-game-info-container .ttt-game-info-component,
body .ttt-game-component .ttt-game-info-container .ttt-game-info-component {
  padding: 10px 20px;
}
html .ttt-game-component .ttt-game-info-container .ttt-game-info-component .ttt-player-name,
body .ttt-game-component .ttt-game-info-container .ttt-game-info-component .ttt-player-name {
  font-size: 24px;
  font-weight: bolder;
  text-transform: uppercase;
}
html .ttt-game-component .ttt-game-info-container .ttt-game-info-component .ttt-player-mark,
body .ttt-game-component .ttt-game-info-container .ttt-game-info-component .ttt-player-mark {
  font-size: 24px;
  font-weight: bolder;
}
html .ttt-game-component .ttt-game-info-container .ttt-game-info-component .ttt-player-wins,
body .ttt-game-component .ttt-game-info-container .ttt-game-info-component .ttt-player-wins {
  font-size: 24px;
  font-weight: bolder;
  padding-left: 10px;
}
html .ttt-game-component .ttt-board-container,
body .ttt-game-component .ttt-board-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
html .ttt-game-component .ttt-board-container .ttt-board,
body .ttt-game-component .ttt-board-container .ttt-board {
  flex: 1 1 auto;
  display: grid;
  grid-template: repeat(3, min-content) / repeat(3, min-content);
  justify-content: center;
  align-content: center;
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell {
  position: relative;
  width: 90px;
  height: 90px;
  border: solid 4px #ddd;
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--0,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--0,
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--1,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--1,
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--2,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--2 {
  border-top-color: transparent;
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--0,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--0,
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--3,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--3,
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--6,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--6 {
  border-left-color: transparent;
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--2,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--2,
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--5,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--5,
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--8,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--8 {
  border-right-color: transparent;
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--6,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--6,
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--7,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--7,
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--8,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell.cell--8 {
  border-bottom-color: transparent;
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .ttt-label,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .ttt-label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  visibility: visible;
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .ttt-label:hover::before,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .ttt-label:hover::before {
  opacity: 1;
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .ttt-label:hover::after,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .ttt-label:hover::after {
  opacity: 1;
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .label--x::before,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .label--x::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 12px;
  border-radius: 6px;
  background: #f4f4f4;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .label--x::after,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .label--x::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 12px;
  border-radius: 6px;
  background: #f4f4f4;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0;
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .label--o::before,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .label--o::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 12px #f4f4f4;
  transform: translate(-50%, -50%);
  opacity: 0;
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .ttt-mark,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .ttt-mark {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  animation: mark-entrance cubic-bezier(0, 0.8, 0.2, 1.2) both;
}
@keyframes mark-entrance {
  from {
    opacity: 0;
    transform: scale(0) rotate(-15deg);
  }
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .mark--o::before,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .mark--o::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 12px #ef908c;
  transform: translate(-50%, -50%);
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .mark--x::before,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .mark--x::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 12px;
  border-radius: 6px;
  background: #8cefb5;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
}
html .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .mark--x::after,
body .ttt-game-component .ttt-board-container .ttt-board .ttt-cell .mark--x::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 12px;
  border-radius: 6px;
  background: #8cefb5;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
}
html .ttt-game-component .ttt-board-container .ttt-board input,
body .ttt-game-component .ttt-board-container .ttt-board input {
  display: none;
}
html .ttt-game-component .ttt-board-container .ttt-board input[value="0"]:checked ~ .cell--0 .ttt-mark,
body .ttt-game-component .ttt-board-container .ttt-board input[value="0"]:checked ~ .cell--0 .ttt-mark {
  display: block;
}
html .ttt-game-component .ttt-board-container .ttt-board input[value="1"]:checked ~ .cell--1 .ttt-mark,
body .ttt-game-component .ttt-board-container .ttt-board input[value="1"]:checked ~ .cell--1 .ttt-mark {
  display: block;
}
html .ttt-game-component .ttt-board-container .ttt-board input[value="2"]:checked ~ .cell--2 .ttt-mark,
body .ttt-game-component .ttt-board-container .ttt-board input[value="2"]:checked ~ .cell--2 .ttt-mark {
  display: block;
}
html .ttt-game-component .ttt-board-container .ttt-board input[value="3"]:checked ~ .cell--3 .ttt-mark,
body .ttt-game-component .ttt-board-container .ttt-board input[value="3"]:checked ~ .cell--3 .ttt-mark {
  display: block;
}
html .ttt-game-component .ttt-board-container .ttt-board input[value="4"]:checked ~ .cell--4 .ttt-mark,
body .ttt-game-component .ttt-board-container .ttt-board input[value="4"]:checked ~ .cell--4 .ttt-mark {
  display: block;
}
html .ttt-game-component .ttt-board-container .ttt-board input[value="5"]:checked ~ .cell--5 .ttt-mark,
body .ttt-game-component .ttt-board-container .ttt-board input[value="5"]:checked ~ .cell--5 .ttt-mark {
  display: block;
}
html .ttt-game-component .ttt-board-container .ttt-board input[value="6"]:checked ~ .cell--6 .ttt-mark,
body .ttt-game-component .ttt-board-container .ttt-board input[value="6"]:checked ~ .cell--6 .ttt-mark {
  display: block;
}
html .ttt-game-component .ttt-board-container .ttt-board input[value="7"]:checked ~ .cell--7 .ttt-mark,
body .ttt-game-component .ttt-board-container .ttt-board input[value="7"]:checked ~ .cell--7 .ttt-mark {
  display: block;
}
html .ttt-game-component .ttt-board-container .ttt-board input[value="8"]:checked ~ .cell--8 .ttt-mark,
body .ttt-game-component .ttt-board-container .ttt-board input[value="8"]:checked ~ .cell--8 .ttt-mark {
  display: block;
}
html .ttt-game-component .ttt-board-container .ttt-btn-bar,
body .ttt-game-component .ttt-board-container .ttt-btn-bar {
  flex: 1 1 auto;
  text-align: center;
  margin-top: 40px;
}
html .ttt-game-component .ttt-board-container .ttt-btn-bar .ttt-newGame,
body .ttt-game-component .ttt-board-container .ttt-btn-bar .ttt-newGame {
  border: none;
  padding: 18px;
  text-transform: uppercase;
  background: #d6d6d6;
  border-radius: 6px;
  font-weight: bold;
  color: #909090;
  font-size: 12px;
  cursor: pointer;
}
html .ttt-game-component .ttt-board-container .ttt-btn-bar .ttt-newGame:hover,
body .ttt-game-component .ttt-board-container .ttt-btn-bar .ttt-newGame:hover {
  opacity: 0.8;
}
html .ttt-game-component .overlay,
body .ttt-game-component .overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
}
html .ttt-game-component .overlay .ttt-endgame,
body .ttt-game-component .overlay .ttt-endgame {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 300px;
  border-radius: 6px;
  background: white;
  box-shadow: 0 0 120px #0002;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
  animation: endgame-entrance 0.3s 0.43s cubic-bezier(0, 0.8, 0.4, 1.2) both;
  padding-top: 10px;
}
html .ttt-game-component .overlay .ttt-endgame .ttt-msg,
body .ttt-game-component .overlay .ttt-endgame .ttt-msg {
  display: block;
  text-align: center;
  margin: 50px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  color: #777;
}
html .ttt-game-component .overlay .ttt-endgame .ttt-tryAgain,
body .ttt-game-component .overlay .ttt-endgame .ttt-tryAgain {
  border: none;
  margin: 20px;
  padding: 18px;
  text-transform: uppercase;
  background: #d8eec0;
  font-weight: bold;
  border-radius: 6px;
  color: #668870;
  font-size: 12px;
  cursor: pointer;
}
html .ttt-game-component .overlay .ttt-endgame .ttt-tryAgain:hover,
body .ttt-game-component .overlay .ttt-endgame .ttt-tryAgain:hover {
  opacity: 0.8;
}
@keyframes endgame-entrance {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}
/*# sourceMappingURL=App.css.map */